[submodule "PetaJson"]
	path = PetaJson
	url = git@github.com:toptensoftware/PetaJson.git
	branch = master
[submodule "conframes"]
	path = conframes
	url = git@github.com:ahmed505/ConFrames.git
	branch = master
[submodule "ConFrames"]
	path = ConFrames
	url = git@github.com:ahmed505/ConFrames.git
	branch = master
	
